<ul>
     {{#each eachWeek.days}}
        
        <li>{{this.week}} </li>
        Date: {{this.date}} <br>
        Breakfast: {{this.breakfast}} <br>
        Lunch: {{this.lunch}}<br>
        Dinner: {{this.dinner}}<br>
        Snack: {{this.snack}}<br>
        Goals: {{this.goals}}<br>
    {{/each}}

</ul>